<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }}</title>
		<meta name="author" content="Renato Besen">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/all.css" type="text/css">
		<link rel="alternate" type="application/rss+xml" title="besen - a blog" href="{{ site.url }}/feed.xml" />
	</head>
	<body>
		<div class="container">
			<div class="site ten offset-by-two columns">
				{{ content }}
			</div>
			<div class="four columns sidebar">
				<nav>
					<h3><a href="/">{{ site.name }}</a></h3>
					<ul>
						<li><a href="/">home</a></li>
						<li><a href="/feed.xml">feed</a></li>
					</ul>
				</nav>
			</div>
			<div class="footer ten offset-by-two columns">
				<hr/>
				<div class="row">
					<div class="contact four columns alpha">
						<p>
							Renato Besen<br>
							Developer<br
						</p>
					</div>
					<div class="contact four columns omega">
						<p>
							<a href="http://github.com/besen/">github.com/besen</a><br>
							<a href="http://twitter.com/renatobesen/">@renatobesen</a><br>
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
