<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>{{ page.title }}</title>
		<meta name="author" content="Renato Besen" />
		<meta name="description" content="Personal blog of Renato Besen" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/all.css" type="text/css" />
		<link rel="stylesheet" href="/css/ionicons.min.css" type="text/css" />
		<link rel="alternate" type="application/rss+xml" title="besen - a blog" href="{{ site.url }}/feed.xml" />
	</head>
	<body>
		<div class="container">
			<header class="banner add-bottom">
				<h1><a href="/">{{ site.name }}</a></h1>
			</header>
			<nav>
				<ul>
					<li><a href="/"><i class="icon ion-home"></i> home</a></li>
					<li><a href="http://twitter.com/renatobesen/"><i class="icon ion-social-twitter"></i> @renatobesen</a></li>
					<li><a href="http://github.com/besen/"><i class="icon ion-social-github"></i> github.com/besen</a></li>
					<li><a href="/feed.xml"><i class="icon ion-social-rss"></i> feed</a></li>
				</ul>
			</nav>
			<div class="site twelve offset-by-two columns">
				{{ content }}
			</div>
		</div>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-580887-5', 'besen.me');
		  ga('send', 'pageview');
		</script>
	</body>
</html>
